import pandas as pd
data = pd.Series(list(range(10, 1001)))

In [1]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

NameError: name 'data' is not defined

In [64]:
import pandas as pd 
data = pd.Series(list(range(10, 1001)))
display(data)

0        10
1        11
2        12
3        13
4        14
       ...
986     996
987     997
988     998
989     999
990    1000
Length: 991, dtype: int64

In [3]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [4]:
data

0        10
1        11
2        12
3        13
4        14
       ...
986     996
987     997
988     998
989     999
990    1000
Length: 991, dtype: int64

In [5]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [65]:
import pandas as pd
football = pd.read_csv('data_sf.csv')
display(football.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [4]:
display(football.tail(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [5]:
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [6]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [7]:
football.describe(include = ['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. RodrÃ­guez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

In [2]:
import pandas as pd
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
display(df)
df.mean()

   foo   bar  baz foobar
0    0   1.2    2     hi
1    1   2.2    3     hi
2    2   3.2    4     hi
3    3   4.2    5     hi
4    4   5.2    6     hi
5    5   6.2    7     hi
6    6   7.2    8     hi
7    7   8.2    9     hi
8    8   9.2   10     hi
9    9  10.2   11     hi

foo    4.5
bar    5.7
baz    6.5
dtype: float64

In [3]:
football = pd.read_csv('data_sf.csv')
football.Age.mean()

24.795378770256647

In [4]:
football.Composure.count()

12897

In [86]:
football[['Age', 'Value']]

       Age      Value
0       31  110500000
1       33   77000000
2       26  118500000
3       27   72000000
4       27  102000000
...    ...        ...
12892   19    1100000
12893   19      60000
12894   16      60000
12895   17      60000
12896   16      60000

[12897 rows x 2 columns]

In [92]:
football[football.Age > 20]
type(football['Age'])

pandas.core.series.Series

In [95]:
display(football.loc[0])

Unnamed: 0                    0
Name                   L. Messi
Age                          31
Nationality           Argentina
Club               FC Barcelona
Value                 110500000
Wage                     565000
Position                     RF
Crossing                     84
Finishing                    95
HeadingAccuracy              70
ShortPassing                 90
Volleys                      86
Dribbling                    97
Curve                        93
FKAccuracy                   94
LongPassing                  87
BallControl                  96
Acceleration                 91
SprintSpeed                  86
Agility                      91
Reactions                    95
Balance                      95
ShotPower                    85
Jumping                      68
Stamina                      72
Strength                     59
LongShots                    94
Aggression                   48
Interceptions                22
Positioning                  94
Vision                       94
Penalties                    75
Composure                    96
Marking                      33
StandingTackle               28
SlidingTackle                26
GKDiving                      6
GKHandling                   11
GKKicking                    15
GKPositioning                14
GKReflexes                    8
Name: 0, dtype: object

In [5]:
football.ShortPassing.std()

14.740435689517149

In [6]:
football.Wage.sum()

96954000

In [7]:
football.Value.min()

0

In [10]:
import pandas as pd
football = pd.read_csv('data_sf.csv')
football[football.Wage < football.Wage.mean()].SprintSpeed.mean()

62.41425430560645

In [12]:
football.Position.football[football.Wage.max()]

AttributeError: 'Series' object has no attribute 'football'

In [13]:
football[football.Wage == football.Wage.max()].Position

0    RF
Name: Position, dtype: object

In [16]:
football[football.Nationality == 'Brazil'].Penalties.sum()

22789

In [17]:
football[football.HeadingAccuracy > 50].Age.mean()

25.58771113179944

In [19]:
football[(football.Composure > (0.9 * football.Composure.max()))&
        (football.Reactions > (0.9 * football.Reactions.max()))].Age.min()

24

In [24]:
x = football[football.Age == football.Age.max()].Reactions.mean() - \
    football[football.Age == football.Age.min()].Reactions.mean()
print(x)

22.642857142857146

In [29]:
football[football.Value > football.Value.mean()].Nationality.describe().top

'Spain'

In [38]:
y = football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
z = football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean()
print(y / z)

2.765957446808511

In [40]:
a = football[football.Aggression == football.Aggression.max()].ShotPower.mean()
b = football[football.Aggression == football.Aggression.min()].ShotPower.mean()
print(a/b)

2.076923076923077

In [8]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

In [9]:
clubs = df['Club'].value_counts()
display(clubs)

V-Varen Nagasaki     30
Shonan Bellmare      30
Padova               29
De Graafschap        29
Vissel Kobe          29
                     ..
FC Metz               8
GD Chaves             7
Dinamo Zagreb         7
VitÃ³ria GuimarÃ£es     7
AtlÃ©tico Mineiro      6
Name: Club, Length: 650, dtype: int64

In [10]:
len(clubs)

650

In [6]:
clubs.index

Index(['Real Madrid', 'FC Barcelona', 'Juventus', 'Manchester City',
       'AtlÃ©tico Madrid', 'Chelsea', 'Paris Saint-Germain',
       'FC Bayern MÃ¼nchen', 'Manchester United', 'Tottenham Hotspur'],
      dtype='object')

In [7]:
len(clubs.index)

10

In [1]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
pos = df['Position'].value_counts(normalize=True)
display(pos)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [3]:
small_df = df[df.columns[0:7]].head(25)
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [4]:
s.index

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [5]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [6]:
s.index[3].left

447250.0

In [7]:
s.index[3].right

565000.0

In [8]:
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [9]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

   Unnamed: 0       Name  Age Nationality          Club      Value    Wage
0           0   L. Messi   31   Argentina  FC Barcelona  110500000  565000
7           7  L. SuÃ¡rez   31     Uruguay  FC Barcelona   80000000  455000

In [17]:
accuracy = df['FKAccuracy'].value_counts(bins=5)
display(accuracy)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [23]:
result = len(df['Position'].unique())
display(result)

27

In [24]:
result = df['Position'].nunique()
result

27

In [26]:
result = df['Position'].unique()
result

array(['RF', 'ST', 'LW', 'GK', 'RCM', 'LF', 'RS', 'RCB', 'LCM', 'CB',
       'LDM', 'CAM', 'CDM', 'LS', 'LCB', 'RM', 'LAM', 'LM', 'LB', 'RDM',
       'RW', 'CM', 'RB', 'RAM', 'CF', 'RWB', 'LWB'], dtype=object)

In [27]:
result = df['Position'].count()
result

12897

In [28]:
result = len(df['Position'].value_counts())
result

27

In [29]:
x = 2
y = 5
x
y

5

In [31]:
display(x)

2

In [35]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
wage_sp = df[df.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True)
display(wage_sp)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [37]:
nat_unique = df[df.Club == 'Manchester United'].Nationality.nunique()
display(nat_unique)

13

In [44]:
names = df[(df.Nationality == 'Brazil')&(df.Club == 'Juventus')].Name.unique()
display(names)
print(names.sort())

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

None

In [47]:
clubs_age = df[df.Age > 35].Club.value_counts()
display(clubs_age)

Hokkaido Consadole Sapporo    4
Club AtlÃ©tico HuracÃ¡n         4
Hammarby IF                   3
Nagoya Grampus                3
Club AtlÃ©tico Talleres        3
                             ..
Guadalajara                   1
CD O'Higgins                  1
CÃ¡diz CF                      1
VÃ©lez Sarsfield               1
Gamba Osaka                   1
Name: Club, Length: 212, dtype: int64

In [49]:
age_arg = df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)
display(age_arg)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [55]:
nation = df.Nationality.value_counts()
display(nation)
age = df[df.Age == 21].Nationality.value_counts()
display(age)

England      1368
Germany       919
Spain         671
France        614
Argentina     574
             ...
Belize          1
St Lucia        1
Libya           1
Jordan          1
Ethiopia        1
Name: Nationality, Length: 156, dtype: int64

England       109
Germany        89
Spain          79
France         50
China PR       45
             ...
Iceland         1
Zambia          1
Madagascar      1
Hungary         1
Angola          1
Name: Nationality, Length: 83, dtype: int64

In [56]:
percent = (age['Spain'] / nation['Spain'])*100
print(percent)

11.773472429210134

In [59]:
(df[df.Nationality =='Spain'].Age.value_counts(normalize=True)*100).loc[21]

11.773472429210134

In [75]:
grouped_df = df.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.loc[grouped_df > 5000000])

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

In [78]:
grouped_df = df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False)
print(grouped_df.head(5))

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06

In [81]:
wage = df.groupby(['Club'])[['Wage']].agg(['mean', 'median'])
display(wage)
print(wage.loc[wage > 5000000])

                              Wage
                              mean median
Club
 SSV Jahn Regensburg   3750.000000   3500
1. FC Heidenheim 1846  3800.000000   3000
1. FC Kaiserslautern   1434.782609   1000
1. FC KÃ¶ln             9200.000000   4000
1. FC Magdeburg        4000.000000   4000
...                            ...    ...
ZagÅ‚Ä™bie Sosnowiec     1080.000000   1000
Ã‡aykur Rizespor        5363.636364   4500
Ã–rebro SK              1384.615385   1000
Ã–stersunds FK          1950.000000   1000
ÅšlÄ…sk WrocÅ‚aw          2083.333333   2000

[650 rows x 2 columns]

In [90]:
group = (df.groupby(['Club'])['Wage'].agg(['mean', 'median']))
new_df = (group[group['mean'] == group['median']])
sorted = new_df.sort_values(['mean'], ascending=False)
print(sorted)
display(sorted)
new_df.count()

                           mean  median
Club
Cruzeiro                13000.0   13000
GÃ¶ztepe SK               7000.0    7000
BrÃ¸ndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas BoyacÃ¡ FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de CÃ³rdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
BoyacÃ¡ ChicÃ³ FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
ItagÃ¼Ã­ Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria PlzeÅˆ           1000.0    1000

                           mean  median
Club
Cruzeiro                13000.0   13000
GÃ¶ztepe SK               7000.0    7000
BrÃ¸ndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas BoyacÃ¡ FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de CÃ³rdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
BoyacÃ¡ ChicÃ³ FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
ItagÃ¼Ã­ Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria PlzeÅˆ           1000.0    1000

mean      52
median    52
dtype: int64

In [94]:
chelsea = df.groupby(['Club'])[['Wage']].sum()
display(chelsea.loc['Chelsea'])

Wage    2035000
Name: Chelsea, dtype: int64

In [10]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
df_1 = df[(df.Nationality == 'Argentina')&(df.Age == 30)].Wage.min()
display(df_1)

1000

In [12]:
df_2 = df[(df.Nationality == 'Argentina')&(df.Club == 'FC Barcelona')][['Strength','Balance']].max()
display(df_2)

Strength    59
Balance     95
dtype: int64

In [13]:
chelsea = df[df.Club == 'Chelsea'][['Wage']].sum()
display(chelsea)

Wage    2035000
dtype: int64

In [14]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
display(df2)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC KÃ¶ln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZagÅ‚Ä™bie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Ã‡aykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Ã–rebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Ã–stersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
ÅšlÄ…sk WrocÅ‚aw,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [15]:
df2.loc['Manchester City']['GK']

125000.0

In [23]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [24]:
pivot.loc['Belgium']

      Club
Wage  FC Barcelona         110000.0
      Juventus                  NaN
      Manchester United    230000.0
      Real Madrid          240000.0
      All                  580000.0
Name: Belgium, dtype: float64

In [25]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [46]:
pivot = df.pivot_table(values='Name',
index='Club',
columns='Position',
aggfunc='count',
fill_value=0)
display(pivot)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC KÃ¶ln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZagÅ‚Ä™bie Sosnowiec,3,2,2,0,0,3,0,3,1,0,...,1,1,0,1,0,2,0,0,0,1
Ã‡aykur Rizespor,1,2,5,0,0,3,0,2,1,0,...,3,0,0,1,0,1,0,0,0,1
Ã–rebro SK,0,4,0,0,1,3,0,0,1,1,...,0,1,1,0,0,0,0,2,2,5
Ã–stersunds FK,1,1,0,1,3,3,0,2,1,1,...,1,1,0,0,0,1,0,1,0,1
ÅšlÄ…sk WrocÅ‚aw,0,1,3,0,1,3,0,2,1,0,...,2,1,0,1,0,2,1,0,0,2

In [40]:
round(pivot['GK'].mean(),3)

2.525

In [52]:
df_new = pivot['CM'].value_counts()[0]
display(df_new)

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [53]:
pivot = df.pivot_table(values='Wage',
index='Nationality',
columns='Club',
aggfunc='sum',
fill_value=0)
display(pivot)

Club,SSV Jahn Regensburg,1. FC Heidenheim 1846,1. FC Kaiserslautern,1. FC KÃ¶ln,1. FC Magdeburg,1. FC NÃ¼rnberg,1. FC Union Berlin,1. FSV Mainz 05,AC Ajaccio,AC Horsens,...,Wycombe Wanderers,Yeni Malatyaspor,Yeovil Town,Yokohama F. Marinos,ZagÅ‚Ä™bie Lubin,ZagÅ‚Ä™bie Sosnowiec,Ã‡aykur Rizespor,Ã–rebro SK,Ã–stersunds FK,ÅšlÄ…sk WrocÅ‚aw
Nationality,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Albania,0,0,0,0,0,0,0,0,2000,0,...,0,0,0,0,0,0,0,1000,0,0
Algeria,0,0,0,0,0,0,0,0,0,0,...,0,0,1000,0,0,0,0,0,0,0
Andorra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Angola,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Venezuela,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wales,0,0,0,0,0,0,0,0,0,0,...,4000,0,2000,0,0,0,0,0,0,0
Zambia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
pivot.loc['Russia']['AS Monaco']

61000

In [59]:
pivot_speed = df.pivot_table(values='SprintSpeed',
index='Club',
columns='Position',
aggfunc='mean',
fill_value=0)
display(pivot_speed)
pivot_speed.max().sort_values(ascending=False).head(10)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0.0,46.600000,82.000000,0.0,61.000000,33.000000,0,76.000000,0.0,0.0,...,68.500000,57.0,0,65.0,0,0.000000,0,0.0,0.0,61.666667
1. FC Heidenheim 1846,68.0,61.333333,0.000000,0.0,68.000000,41.000000,0,60.000000,55.0,0.0,...,80.500000,59.0,0,0.0,0,78.333333,0,0.0,0.0,69.000000
1. FC Kaiserslautern,0.0,59.000000,65.666667,0.0,0.000000,42.666667,0,68.000000,45.0,0.0,...,71.500000,0.0,0,55.0,0,82.500000,69,0.0,0.0,79.000000
1. FC KÃ¶ln,0.0,60.000000,32.000000,0.0,68.500000,33.000000,0,0.000000,0.0,0.0,...,70.000000,0.0,0,0.0,0,77.000000,0,0.0,0.0,0.000000
1. FC Magdeburg,0.0,60.000000,0.000000,64.0,0.000000,39.333333,0,69.000000,60.0,66.0,...,0.000000,68.0,71,0.0,0,76.000000,53,80.5,0.0,44.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZagÅ‚Ä™bie Sosnowiec,73.0,46.500000,66.000000,0.0,0.000000,39.000000,0,60.333333,61.0,0.0,...,68.000000,58.0,0,62.0,0,71.000000,0,0.0,0.0,75.000000
Ã‡aykur Rizespor,74.0,58.000000,62.800000,0.0,0.000000,47.000000,0,75.500000,63.0,0.0,...,68.666667,0.0,0,32.0,0,85.000000,0,0.0,0.0,48.000000
Ã–rebro SK,0.0,60.750000,0.000000,0.0,63.000000,33.666667,0,0.000000,58.0,44.0,...,0.000000,62.0,66,0.0,0,0.000000,0,77.5,72.0,72.200000
Ã–stersunds FK,67.0,76.000000,0.000000,77.0,56.333333,32.666667,0,74.500000,53.0,62.0,...,54.000000,73.0,0,0.0,0,85.000000,0,67.0,0.0,52.000000
ÅšlÄ…sk WrocÅ‚aw,0.0,62.000000,66.666667,0.0,72.000000,30.666667,0,78.500000,59.0,0.0,...,50.500000,58.0,0,69.0,0,68.000000,81,0.0,0.0,54.000000

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
dtype: float64

In [63]:
pivot_speed = df.pivot_table(values='SprintSpeed',
index='Club',
columns='Position',
aggfunc='mean',
fill_value=0)
display(pivot_speed)
pivot_speed['ST'].sort_values(ascending=False).head(3)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0.0,46.600000,82.000000,0.0,61.000000,33.000000,0,76.000000,0.0,0.0,...,68.500000,57.0,0,65.0,0,0.000000,0,0.0,0.0,61.666667
1. FC Heidenheim 1846,68.0,61.333333,0.000000,0.0,68.000000,41.000000,0,60.000000,55.0,0.0,...,80.500000,59.0,0,0.0,0,78.333333,0,0.0,0.0,69.000000
1. FC Kaiserslautern,0.0,59.000000,65.666667,0.0,0.000000,42.666667,0,68.000000,45.0,0.0,...,71.500000,0.0,0,55.0,0,82.500000,69,0.0,0.0,79.000000
1. FC KÃ¶ln,0.0,60.000000,32.000000,0.0,68.500000,33.000000,0,0.000000,0.0,0.0,...,70.000000,0.0,0,0.0,0,77.000000,0,0.0,0.0,0.000000
1. FC Magdeburg,0.0,60.000000,0.000000,64.0,0.000000,39.333333,0,69.000000,60.0,66.0,...,0.000000,68.0,71,0.0,0,76.000000,53,80.5,0.0,44.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZagÅ‚Ä™bie Sosnowiec,73.0,46.500000,66.000000,0.0,0.000000,39.000000,0,60.333333,61.0,0.0,...,68.000000,58.0,0,62.0,0,71.000000,0,0.0,0.0,75.000000
Ã‡aykur Rizespor,74.0,58.000000,62.800000,0.0,0.000000,47.000000,0,75.500000,63.0,0.0,...,68.666667,0.0,0,32.0,0,85.000000,0,0.0,0.0,48.000000
Ã–rebro SK,0.0,60.750000,0.000000,0.0,63.000000,33.666667,0,0.000000,58.0,44.0,...,0.000000,62.0,66,0.0,0,0.000000,0,77.5,72.0,72.200000
Ã–stersunds FK,67.0,76.000000,0.000000,77.0,56.333333,32.666667,0,74.500000,53.0,62.0,...,54.000000,73.0,0,0.0,0,85.000000,0,67.0,0.0,52.000000
ÅšlÄ…sk WrocÅ‚aw,0.0,62.000000,66.666667,0.0,72.000000,30.666667,0,78.500000,59.0,0.0,...,50.500000,58.0,0,69.0,0,68.000000,81,0.0,0.0,54.000000

Club
VitÃ³ria              91.000000
Sydney FC            88.000000
CD Lugo              87.000000
BrÃ¸ndby IF           84.666667
Leicester City       84.500000
Feyenoord            84.000000
FC Bayern MÃ¼nchen    84.000000
FC ZÃ¼rich            84.000000
KRC Genk             84.000000
Manchester United    84.000000
Name: ST, dtype: float64